/* Hacemos que los botones custom muestren texto con buen padding */
.ql-toolbar .ql-addColumn,
.ql-toolbar .ql-addRow {
  padding: 0 8px;
  font-size: 0.9rem;
}

/* Hover para reforzar el feedback */
.ql-toolbar button:hover {
  background-color: rgba(0,0,0,0.05);
}

