<header
  class="container-fluid d-flex justify-content-between bg-light px-5 py-4 mb-5"
>

 <div class="d-flex align-center">
    <i class="bi bi-search text-primary fw-bold fs-3 me-2"></i>
    <input
      #searchInput
      class="form-control me-2 py-2 header-text"
      type="search"
      placeholder="Buscar Nota"
      aria-label="Search"
      (keyup)="updateSearchTerm(searchInput.value)"
    />
  </div>

  <div class="d-flex">
    <button class="btn btn-primary py-2 px-3 me-3 header-text" id="add-note">
      <i class="bi bi-plus me-2"></i>
      <span>Agregar Nota</span>
    </button>
    <button class="btn btn-secondary py-2 px-3 header-text" id="add-category" 
            (click)="openDeleteModal()"
            [disabled]="!selectedNote()">
      <i class="bi bi-trash me-2"></i>
      <span>Eliminar Nota</span>
    </button>
  </div>
</header>

<section class="container mx-5 px-3">
  @for (note of notes(); track note.Id) {
  <div
    class="card w-75 card-note d-flex flex-direction mb-3"
    (click)="selectNote(note)"
    (dblclick)="openNote(note.Id)"
    [class.selected-note]="isSelected(note)"
  >
    <div class="card-body">
      <h5 class="card-title main-font mb-2 mt-2">{{ note.Name }}</h5>
      <p class="card-text">{{ displayContentOverview(note.Html) }}</p>
    </div>
  </div>
  }
</section>


<!-- Modal Para Eliminar Nota-->
 <div 
  class="modal fade" 
  id="confirmDeleteModal" 
  data-bs-backdrop="static" 
  data-bs-keyboard="false" 
  tabindex="-1" 
  aria-labelledby="confirmDeleteModalLabel" 
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header bg-danger text-white py-1">
        <h4 class="modal-title" id="confirmDeleteModalLabel">
          <i class="bi bi-exclamation-triangle-fill me-2 fs-3"></i>
          Confirmación de eliminación
        </h4>
        <button 
          type="button" 
          class="btn-close btn-close-white" 
          data-bs-dismiss="modal" 
          aria-label="Cerrar">
        </button>
      </div>
   
      <div class="modal-body py-5">
        ¿Estás seguro de que deseas eliminar la nota 
        <strong>{{ selectedNote()?.Name }}</strong>?
      </div>

      <div class="modal-footer">
        <button 
          type="button" 
          class="btn btn-secondary w-25" 
          data-bs-dismiss="modal">
          Cancelar
        </button>
        <button 
          type="button" 
          class="btn btn-danger w-25" 
          (click)="deleteNote()" 
          data-bs-dismiss="modal">
          Eliminar
        </button>
      </div>

    </div>
  </div>
</div>