.header-text {
  font-size: 1rem;
}

.card-note {
  min-height: 15vh;
}

.card-note:hover {
  background-color: #f7f8f9;
}

.selected-note {
  border-left: 4px solid #087e8b;
  background-color: #eafcfd;
  box-shadow: 0 6px 20px rgba(8, 126, 139, 0.2);
}

.filter-button {
  width: 200px;
  z-index: 5;
  &:hover {
    background-color: #f7f8f9;
  }
}

.list-group-item {

  box-shadow: 0 6px 20px rgba(8, 126, 139, 0.2);
  user-select: none;
  z-index: 4;
  position: relative;
  top: 50px;
  width: 200px;
  &:hover { background-color: #f7f8f9; }
}

input[type="checkbox"] {
  accent-color: #087e8b !important;
}
