<header
  class="container-fluid
  d-flex justify-content-between
  bg-light px-5 py-4 mb-5
  position-sticky top-0
  border-bottom border-secondary-subtle shadow-sm z-3"
>
  <div class="d-flex">
    <!-- Buscador por nombre de nota -->
    <div class="d-flex align-center">
      <i class="bi bi-search text-primary fw-bold fs-3 me-2"></i>
      <input
        #searchInput
        class="form-control me-2 py-2 header-text"
        placeholder="Buscar Nota"
        aria-label="Search"
        (keyup)="updateSearchTerm(searchInput.value)"
      />
    </div>

    <!-- Selector de categorias -->
    <div class="d-flex align-center">
      <button class="d-flex justify-content-start filter-button btn bg-light border-secondary-subtle py-2 px-4" 
      (click)="toggleCategorySelectorOpen()">
        <i class="bi bi-funnel me-2"></i>
        <span class="text-truncate">{{ filterButtonText() }}</span>
      </button>

      <!-- Lista de categorias -->

        <ul id="temp" class="list-group position-absolute w-100" [style.display]="categorySelectorOpen() ? 'block' : 'none'">
          @for(opt of categoriesNames(); track opt) {
          <li class="list-group-item list-group-item-action d-flex align-items-center"
          >
          <input type="checkbox"
          [id]="`check-category-${opt}`"
          class="form-check-input me-2"
          (change)="toggleCategoryCheckbox(opt)"
          />
            {{ opt }}
          </li>
          }
        </ul>
    
    </div>

  </div>

  <div class="d-flex">
    <button
      (click)="createNote()"
      class="btn btn-primary py-2 px-3 me-3 header-text"
    >
      <i class="bi bi-plus me-2"></i>
      <span>Agregar Nota</span>
    </button>
    <button
      class="btn btn-secondary py-2 px-3 header-text"
      (click)="openDeleteModal()"
      [disabled]="!selectedNote()"
    >
      <i class="bi bi-trash me-2"></i>
      <span>Eliminar Nota</span>
    </button>
  </div>
</header>

<section class="container mx-5 px-3">
  @for (note of notes(); track note.id) {
  <div
    class="card w-75 card-note d-flex flex-direction mb-3"
    (click)="selectNote(note)"
    (dblclick)="openNote(note.id!)"
    [class.selected-note]="isSelected(note)"
  >
    <div class="card-body">
      <app-note-name
        [currentName]="note.name"
        [viewMode]="'List'"
        (newName)="changeNoteName($event, note)"
      >
      </app-note-name>
      <p class="card-text">{{ displayContentOverview(note.html, 100) }}</p>
    </div>
  </div>
  }
</section>

<!-- Modal Para Eliminar Nota-->
<div
  class="modal fade"
  id="confirmDeleteModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="confirmDeleteModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-danger text-white py-1">
        <h4 class="modal-title" id="confirmDeleteModalLabel">
          <i class="bi bi-exclamation-triangle-fill me-2 fs-3"></i>
          Confirmación de eliminación
        </h4>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          aria-label="Cerrar"
        ></button>
      </div>

      <div class="modal-body py-5">
        ¿Estás seguro de que deseas eliminar la nota
        <strong>{{ selectedNote()?.name }}</strong
        >?
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary w-25"
          data-bs-dismiss="modal"
        >
          Cancelar
        </button>
        <button
          type="button"
          class="btn btn-danger w-25"
          (click)="deleteNote()"
          data-bs-dismiss="modal"
        >
          Eliminar
        </button>
      </div>
    </div>
  </div>
</div>
