    body {
      margin-left: 250px; /* Espacio para la barra lateral */
    }
    
    .sidebar {
      width: 20vw;
      max-width: 350px;
      height: 100vh;
      position: fixed;
      left: 0;
      top: 0;
      background-color: #f8f9fa;
      border-right: 1px solid #ddd;
      padding: 1rem;
      overflow-y: auto;
    }
    .nav-item:hover {
    cursor: pointer;
    background-color: #f4f5f6;
    border-radius: 4px;

    }